


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A97F3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 24px 26px;
    text-decoration: none;
}


li a:hover {
    background-color: navy;
}

body {
    background-color: #0A97F3;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}

/* imagen del logo */
#img {
    margin-left: 40px;
    margin-top: 5px;
    border-radius: round;
    width: 50px;
    align-content: center;
}

#imgLetra{
    margin-top: 10px;
    width: 200px;
}

/* Formato de imagénes acerca de nosotros*/
#imgPortfolio{
    height: 350px;
    border-radius: 800px;
}

table {
    width: 85%;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid white;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
}

td, td {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/*para los iconos de las redes sociales*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

hr{
    border-width: 2px;
    display: block;
    border-style: solid;
    color: white;
}

div{
    background-color: white;
    margin:0 auto;
    overflow:hidden;
    width: 100%;
    float: left;
}

#divImgL{
    float: left;
    height: 350px;
    text-align: left;
    width: 50%;
}

#divTextoL{
    float: left;
    height: 350px;
    text-align: left;
    width: 50%;
    font-size: 24px;
}

#divImgR{
    float: left;
    height: 350px;
    text-align: right;
    width: 50%;
}

#divTextoR{
    float: left;
    height: 350px;
    text-align: right;
    width: 50%;
    font-size: 24px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


button {
    background-color: white;
    border-radius: 6px;
    color: black;
    border: 0px solid lightblue; 
    height: 30px;
}

button:hover {
  background-color: lightblue;
  color: white;
}

#appfotos{
    width: 800px;
}

